In [6]:
# 1 Write a program to convert specified days into years, weeks and days.

num = int(input("Enter the Number of Days: "))

year = int(num/365)
week = int((num%365)/7)
days = int((num%365)%7)

print("Total Number of Year(s):" , year)
print("Total Number of Week(s):" , week)
print("Total Number of Day(s):" , days)

Enter the Number of Days:  455

Total Number of Year(s): 1
Total Number of Week(s): 12
Total Number of Day(s): 6

In [10]:
# 2 Write a Python program to input basic Python salary of an employee and calculate its Gross salary according to following:

basic = float(input("Enter the Basic Salary :- "))
if basic <=10000:
    da  = basic  * 0.8
    hra = basic  * 0.2
elif basic <=20000:
    da =  basic *  0.9
    hra = basic *  0.3
else:
    da =  basic * 0.95
    hra = basic * 0.35
gross = basic + hra + da
print("Gross Salary of Employee is :- ",gross)

Enter the Basic Salary :-  3000

Gross Salary of Employee is :-  6000.0

In [4]:
# 3 Write a Python program to input electricity unit charges and calculate total electricity bill according to the given condition 
#For first 50 units Rs. 0.50/unit
#For next 100 units Rs. 0.75/unit
#For next 100 units Rs. 1.25/unit
#For unit above 250 Rs. 1.50/unit
#An additional surcharge of 17% is added to the bill
Electric_Units = int(input(" Enter units:- "))
print("Enter units:- " , Electric_Units)

if Electric_Units <= 50:
    T_Bill = Electric_Units * 0.50 + 0.17 * Electric_Units
    print(T_Bill)
elif Electric_Units <= 150:
    T_Bill = Electric_Units * 0.75 + 0.17 * Electric_Units
    print(T_Bill)
elif Electric_Units <= 250:
    T_Bill = Electric_Units * 1.25 + 0.17 * Electric_Units
    print(T_Bill)
else:
    if Electric_Units <= 250:
        T_Bill = Electric_Units * 1.50 + 0.17 * Electric_Units
        print(T_Bill)

 Enter units:-  56

Enter units:-  56
51.52

In [15]:
# 4 Write a Python program to print the given number patterns

rows = 6 
for i in range(rows):

    for j in range(i):
    
        print(i, end=' ')
    
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [6]:
# 5 Write a Python program to calculate product of digits of a number Read value of n from user

num = int(input("Enter any number : "))

temp = num
product = 1

while(temp != 0):

    product = product * (temp % 10)

    temp = int(temp / 10)

print("\nProduct of all digits in", num, ":", product)

Enter any number :  1234

Product of all digits in 1234 : 24

In [37]:
'''
6. Create a list of elements like: x = [45, 67, 12, ‘Hello’, 23.45, ‘World’] and
oerform following
operations
1. Extract only string values from this list.
2. Create a new list with strings in upper case.
3. Find the addition of integer values
4. Check that the value 56 is present in it or not.
5. Print the list in reverse order.
6. Delete the string ‘Hello’ from it.
7. Insert a new value of 36 at 5th position in list.
8. Count total number of elements in list now.
9. Extract the values from 2nd index to 5th index.
10. Append [34, ‘Pune’] to this list.
11. Delete the last element from list.
'''

a = 56 in x
print(a)
rev = x[::-1]
print(rev)
if 'Hello' in x :
     x.remove('Hello')
print(x)
x. insert(4, 36)
print(x)
list= x[2:5]
x.append([34,'Pune'])
print(x)
x.pop()

False
['World', 23.45, 'Hello', 12, 67, 45]
[45, 67, 12, 23.45, 'World']
[45, 67, 12, 23.45, 36, 'World']
[45, 67, 12, 23.45, 36, 'World', [34, 'Pune']]

[34, 'Pune']

In [20]:
# 7 Create a tuple of elements with 5 float values in it and perform following operations.
#1. Print the data in sorted manner.
#2. Check to see that the element 50 is present in it.
#3. Convert this tuple in se

t = (32.45,42.67,26.00,86.35,69.07)

print(t)

a= list(t)

a.sort()

t= tuple(a)

print(t)

contains = 50 in a

print(contains)

a= set(t)

a

(32.45, 42.67, 26.0, 86.35, 69.07)
(26.0, 32.45, 42.67, 69.07, 86.35)
False

{26.0, 32.45, 42.67, 69.07, 86.35}

In [18]:
# 8 Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:‘king’} and perform following operations.
# 1. Access the data at key ‘k’.
# 2. Add a new values ‘z’: ‘zebra’
# 3. Replace the contents of ‘d’ as ‘dog’
# 4. Print all the values from this dictionary.
# 5. Find the length of this dictionary

dic= {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

print(dic)

dic['k']

dic['z']= 'ZEbra'

print(dic)

dic['d']= 'dog'

print(dic)

print('Length of dictionary :', len(dic))

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'ZEbra'}
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'ZEbra'}
Length of dictionary : 6

In [21]:
# 9 Write a program to find the second largest element in a list.

list1 = [10, 20, 4, 45, 99]
 
mx = max(list1[0], list1[1]) 
secondmax = min(list1[0], list1[1]) 
n = len(list1)
for i in range(2,n): 
    if list1[i] > mx: 
        secondmax = mx
        mx = list1[i] 
    elif list1[i] > secondmax and \
        mx != list1[i]: 
        secondmax = list1[i]
    elif mx == secondmax and \
        secondmax != list1[i]:
          secondmax = list1[i]
 
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  45

In [29]:
# 10 This is a list of some metallic elements.
#metals = [ 'silver','gold', ... ]
#Make a new list that is almost identical to the metals list: the new contains the same items, in the same order, except that it does NOT contain the item 'copper'

metals = [ 'silver', 'gold', 'iron', 'aluminium ','copper',' brass', 'bronze' ]
print(metals)
metals1 = [ n for n in metals if n != 'copper' ]
print(metals1)

['silver', 'gold', 'iron', 'aluminium ', 'copper', ' brass', 'bronze']
['silver', 'gold', 'iron', 'aluminium ', ' brass', 'bronze']