In [1]:
class Employee():   # creating a class
    pass

In [2]:
emp1 = Employee()     # creating an instance of class
emp2 = Employee()

In [3]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x000001E264A288D0>
<__main__.Employee object at 0x000001E264A3D610>

In [8]:
# instance variable

emp1.first = 'Shrutika'
emp1.last = 'Deshpande'
emp1.salary = 51000

emp2.first = 'Sanika'
emp2.last = 'Jagtap'
emp2.salary = 50000

In [9]:
print(emp1.first)

Shrutika

In [10]:
print(emp2.salary)

50000

In [27]:
class Employee():     # init variable

    def __init__ (self, first, last, salary):
        self.first = first
        self.last = last
        self.salary = salary
        
    def show(self):
        print(self.first + ' ' + 'ok')

In [28]:
emp1 = Employee('Shrutika', 'Deshpande', 51000)

In [29]:
print(emp1.first)

Shrutika

In [30]:
print(emp1.last)

Deshpande

In [31]:
print(emp1.salary)

51000

In [32]:
emp1.show()

Shrutika ok

In [7]:
# Encapsulation

class Employee1():     

    def __init__ (self, first, last, salary):    #initial method
        self.first = first
        self.last = last
        self.__salary = salary    # private variable
        
    def show(self):
        print(self.__salary)

In [8]:
emp1 = Employee1('Shrutika', 'Deshpande', 51000)
emp2 = Employee1('Saniya', 'Deshmukh', 50000)

In [9]:
print(emp1.first)

Shrutika

In [10]:
print(emp1.salary)

AttributeError: 'Employee1' object has no attribute 'salary'

In [61]:
emp1.show()

51000

In [62]:
# inheritance

class Emp2(Employee1):      # emp2 => subclass , # Employee1 => superclass
    pass

In [65]:
emp3 = Emp2('neha','kulkarni', 55000)

In [66]:
emp3.show()

55000

In [13]:
'''
create a class called person
attributes=>name,age,city,...(make use of dafault parameters also)
create a mothod which will show all the info of person
'''
class person():
    
    def __init__(self, n, a = 25):
        self.name = n
        self.age = a

    def info(self):
        print('name', self.name)
        print('age', self.age)

In [14]:
p1 = person('John', 21)

In [1]:
p2 = person('neha', 30)

NameError: name 'person' is not defined